[Unit]
Description=uzbl session save
After=uzbl-manager.service
Wants=uzbl-session.timer
PartOf=uzbl-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/uzbl-session save

[Install]
WantedBy=default.target
