[Unit]
Description=Save the browser session before exiting

[Service]
Type=simple
User=%I
ExecStart=/usr/local/bin/uzbl-session-manager

[Install]
WantedBy=multi-user.target
