[Unit]
Description=Save the browser session before exiting

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/uzbl-manager

[Install]
WantedBy=multi-user.target
